:root {
    --site-width: 1000px;
    --light: #e7e4f6;
    --medium: #c6c2da;
}

* {
    margin: 0 auto;
    font-family: sans-serif;
    pointer-events: none;
    user-select: none;
}

body {
    background-color: var(--medium);
}

div.content {
    margin: 0 auto;
    max-width: var(--site-width);
}
/* BASIC STYLES */



/* QUIZ */
div#quizContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    margin-top: 180px;
    border: 6px black double;
    background-color: var(--light);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.33);
}
/* QUIZ */



/* BUTTONS */
button, input {
    all: unset;
    pointer-events: all;
}

.left button {
    margin-bottom: 10px;
}

.middle .button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 8px;
    padding: 16px;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

    transition: filter .15s ease-in-out;
    transition: opacity .3s ease-in-out;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

button#idk {
    background-color: #ea4335;
}

button#revLeg, button#revAbb {
    background-color: var(--medium);
}
/* BUTTONS */



/* TEXT */
h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.teamTitle {
    font-weight: bold;
    font-size: large;
    height: 16px;
    margin: 10px;
}

.teamTitle #leagueDisplay {
    font-weight: normal;
    font-size: medium;
}

.teamTitle p, h3 p {
    display: inline;
}
/* TEXT */



/* COLUMNS */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.left, .middle, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    font-size: 1.5em;
}

.left, .right {
    width: 300px;
}

.middle img {
    margin: 10px 0;
    height: 200px;
}
/* COLUMNS */



/* INPUT */
input {
    margin-top: 16px;
    max-width: 50%;
    padding: 10px;
    background-color: var(--medium);
    font-size: large;
}

input:focus {
    background-color: var(--light);
}
/* INPUT */



/* SCORE DISPLAY */
#scoreDisplay, #averageDisplay {
    font-weight: bold;
}

div#longScoreDisplay {
    height: 20px;
    margin: unset;
    margin-top: 40px;
}

div#answerHistory {
    height: 20px;
    margin: unset;
}

.historicAnswer {
    height: 20px;
    width: calc(100% / 124);
    display: inline-block;
}
/* SCORE DISPLAY */



/* TEMP SCORE DISPLAY */
#tempScoreDisplay {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #34a853;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s ease-out, transform 1s ease-out;
    z-index: 1000;
}
/* TEMP SCORE DISPLAY */



/* TEMP NAME DISPLAY */
#tempNameDisplay {
    position: relative;
    top: -50px;
    transform: translate(-50%, -50%);
    font-size: large;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease-out, transform .5s ease-out;
    z-index: 1000;
}
/* TEMP SCORE DISPLAY */



/* START SCREEN */
#startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 32767;
}

#startScreen h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

#startScreen p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666;
}

#startQuizButton {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    background-color: #46bdc6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: filter .15s ease;
}

#startQuizButton:hover {
    filter: brightness(110%);
}

#startQuizButton:active {
    filter: brightness(90%);
}
/* START SCREEN */



/* START SCREEN LOGO SCROLLERS */
#logoScroller {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
    width: 110%;
    position: relative;
    transform: rotate(-4deg);
    top: -150px;
    left: -5px;
    opacity: 60%;
}

#logoScroller2 {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 20px;
    width: 110%;
    position: relative;
    transform: rotate(-4deg);
    top: 150px;
    left: -5px;
    opacity: 60%;
}

#logoScroller img, #logoScroller2 img {
    height: 100px;
    margin-right: 20px;
    transition: transform 0.3s;
}

#logoScroller img:hover, #logoScroller2 img:hover {
    transform: scale(1.1);
}
/* START SCREEN LOGO SCROLLERS */



/* OLD */
#endScreen {
    background-color: #f0f0f0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 32767;
}

#endScreen h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#endScreen p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#endScreen button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

#endScreen #finalScoreDisplay {
    margin-top: 100px;
}
/* OLD */